---
import Base from '../layout/Base.astro'
---

<Base title="Title of Contact">
	<h1>Contact Page</h1>	
	<p>Contactttt Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore eveniet provident delectus dolor qui ipsam cum, ad, dolorum odio hic illo consectetur? Illum deserunt error, tempore odio velit accusamus imperat.</p>	
</Base>