---
import Base from '../layout/Base.astro'
---

<Base title="Title of Home">
	<h1>Hello World 12345</h1>	
	<p>Hommeeee Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore eveniet provident delectus dolor qui ipsam cum, ad, dolorum odio hic illo consectetur? Illum deserunt error, tempore odio velit accusamus imperat.</p>	
</Base>

